[viewBag]
==
{% set snippet= 'iconset/' ~ name ~ '.svg' %}

{% set class = '' %}

{% if direction == 'left' %}
{% endif %}

{% if direction == 'right' %}
    {% set class = 'flip-h' %}
{% endif %}

{% if direction == 'top' or direction == 'up'%}
    {% set class = 'rotate-90' %}
{% endif %}

{% if direction == 'bottom' or direction == 'down' %}
    {% set class = 'rotate-270' %}
{% endif %}

<div aria-hidden="true" class="iconset {{name}} {{direction}} {{class}} {{color}}">
    {% partial snippet %}
</div>