[viewBag]

[staticMenu footerMenu]
code = "footer"
==
<footer class="" id="main-footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="container py-5">
        <div class="row">
            {#
            <div class="col-xs-12 col-md-8 d-flex flex-column justify-content-center">
                {% content 'partials/jumplink-footer' %}
                <a href="{{ 'home'|page }}">
                    <img class="img-fluid w-100 logo-01 d-block mx-auto my-5" src="{{'assets/images/logo-latelier-creatif.svg' | theme}}" alt="L‘ Atelier Créatif">
                </a>
            </div>
            <div class="col-xs-12 col-md-4">
                <ul class="list-unstyled">
                    <li><b>Kreative-Werkstatt</b></li>
                    <li>
                        <a class="nav-item do-it-yourself" href="{{'kreative-werkstatt/do-it-yourself'|page}}">Do it yourself</a>
                    </li>
                    <li>
                        <a class="nav-item kurse" href="{{'kreative-werkstatt/kurse'|page}}">Kurse</a>
                    </li>
                    <li>
                        <a class="nav-item workshops" href="{{'kreative-werkstatt/workshops'|page}}">Workshops</a>
                    </li>
                </ul>
                <ul class="list-unstyled mt-3">
                    <li><b>Sprachkurse</b></li>
                    <li><a class="nav-item sprachkurse" href="{{'sprachkurse'|page}}">Französisch Kurse</a></li>
                </ul>
                <ul class="list-unstyled mt-3">
                    <li><b>Termine</b></li>
                    <li><a class="nav-item termine" href="{{'termine'|page}}">Im Überblick</a></li>
                </ul>  
                
                <ul class="list-unstyled mt-3">
                    {% partial 'jumplink-navigation/list-items' items=footerMenu.menuItems %}
                </ul>
            </div>
            #}
        </div>
    </div>
</footer>