[viewBag]

[staticMenu main]
code = "main"
==
<!-- Nav -->
<button class="navbar-toggler navbar-toggler-right sidebar-toggler tcon tcon-menu--xcross hidden-print" type="button" data-toggle="sidebar" data-target="#right-sidebar" aria-controls="right-sidebar" aria-expanded="false" aria-label="Toggle Sidebar">
    <span class="tcon-menu__lines" aria-hidden="true"></span>
    <span class="tcon-visuallyhidden">toggle menu</span>
</button>

<!-- http://dcdeiv.github.io/simpler-sidebar/ -->
{% partial 'jumplink-right-sidebar' %}