[viewBag]
==
<div id="location-{{handle}}" class="pt-5">
    <div class="container container-text">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center text-{{color}}">{{title}}</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row bg-gray-2">
            <div class="col-xs-12 col-md-8 col-lg-8 col-xl-9 pl-0">
                <div class="w-100 h-400"
                    id="map-{{handle}}"
                    data-lat="{{lat}}"
                    data-lon="{{lon}}"
                    data-zoom="{{zoom}}"
                    data-marker-icon="{{('assets/images/' ~ iconName) | theme}}"
                    data-icon-anchor="{{iconAnchor}}"
                    data-icon-size="{{iconSize}}"
                    data-popup-text="{{popupText}}"
                    data-popup-add-lat="{{popupAddLat}}"
                ></div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3 pl-3 d-flex align-items-center pt-3 pt-lg-0">
                {% content handle ~ '/address' %}
            </div>
        </div>
    </div>
</div>