description = "catalog-plugin/custom product grid item"

[viewBag]
==
<div class="{{responsive_classes}} product-grid-item">
    <div href="{{ product.url }}" class="text-center">
        {% if product.featured_images[0] %}
            <div class="m-2">
                <div class="gradient-bg bg-as-border-2-px animated-gradient">
                    <div class="{{bg_color}} p-2">
                        <div class="background-box background-size-contain ratio-1-1" style="background-image: url({{product.featured_images[0].thumb(500, 500)}});">
                            <div class="brand-title">
                                <div class="brand">
                                    <b>{{ product.brand.name }}</b>
                                </div>
                                <div class="title">
                                    <b>{{ product.title }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="my-4 product-info">
            <small>
            
                {% if product.hw_versions is defined %}
                    {% set hw_versions = product.hw_versions|split(',') %}
                {% else %}
                    {% set hw_versions = [''] %}
                {% endif %}
                
                {% for hw_version in hw_versions %}
                
                    {% set factory = product.factory %}
                    {% set sysupgrade = product.sysupgrade %}
                
                    {% if hw_version is defined and hw_version|length > 0 %}
                        {% if '{{router_version}}' in product.factory %}
                            {% set name = product.slug %}
                        {% else %}
                            {% set name = product.slug ~ '-' ~ hw_version %}
                        {% endif %}
                    {% else %}
                        {% set name = product.slug %}
                        {# Remove - before hardware version if no version is set #}
                        {% set factory = factory | replace({'-{{router_version}}': ''}) %}
                        {% set sysupgrade = sysupgrade | replace({'-{{router_version}}': ''}) %}
                    {% endif %}
            
                    {% if factory is defined and factory|length > 0 %}
                        {% set factory = factory | replace({'{{base_fw_url}}': this.theme.router_base_fw_url, '{{version}}': this.theme.router_fw_version, '{{brand}}': product.brand.slug, '{{name}}': name, '{{factory_extension}}': product.factory_extension, '{{router_version}}': hw_version}) %}
                        
                        <a href="{{factory}}" class="factory">Installation <span class="text-uppercase">{{hw_version}}</span></a>
                    {% endif %}
                    
                    {% if factory is defined and factory|length > 0 and sysupgrade is defined and sysupgrade|length > 0 %}
                        | 
                    {% endif %}
                    
                    {% if sysupgrade is defined and sysupgrade|length > 0 %}
                    
                        {% set sysupgrade = sysupgrade | replace({'{{base_fw_url}}': this.theme.router_base_fw_url, '{{version}}': this.theme.router_fw_version, '{{brand}}': product.brand.slug, '{{name}}': name, '{{sysupgrade_extension}}': product.sysupgrade_extension, '{{router_version}}': hw_version}) %}
                    
                        <a href="{{sysupgrade}}" class="sysupgrade">Update <span class="text-uppercase">{{hw_version}}</span></a>
                    {% endif %}
                    <br>
                {% endfor %}
                 

                {% if product.specifications is defined %}
                    <a href="{{product.specifications | replace({'{{base_specifications_url}}': this.theme.router_base_specifications_url, '{{brand}}': product.brand.slug, '{{name}}': product.slug})}}" class="specifications">Weitere Informationen</a>
                {% endif %}
                
                
                {#% if product.description is defined %}
                    <p class="description">
                        {{ product.description|raw }}
                    </p>
                {% endif %#}
                
                {#% if product.sku is defined %}
                    <p class="sku mb-0">
                        <b>{{ product.sku }}</b>
                    </p>
                {% endif %#}
                
                {% if product.price != '0.00' %}
                    <p class="price mb-0">
                         ~{{ product.price }} EUR
                    </p>
                {% endif %}
            </small>
        </div>
    </div>
</div>