[viewBag]
==
<a class="fab-map" href="{{'map'|page}}" title="Karte">
    <div class="fab">
        {% partial "jumplink-iconset" name="icon_map" color="white" direction="up" size=24 class="" %}
    </div>
</a>

<div id="where-freifunk" class="pl-3">
    <div class="font-handwritten where-freifunk-text">Wo gibt's free Wi-Fi ?</div>
    <img src="{{'assets/images/handwritten-arrow-2.svg'|theme}}" class="handwritten-arrow" alt="Handwritten arrow">
</div>

<div id="ask-anything" class="pl-3">
    <div class="font-handwritten ask-anything-text">Frag' uns was !</div>
    <img src="{{'assets/images/handwritten-arrow.svg'|theme}}" class="handwritten-arrow" alt="Handwritten arrow">
</div>

<div id="this-is-freifunk" class="pr-3">
    <img src="{{'assets/images/handwritten-arrow.svg'|theme}}" class="handwritten-arrow rotate-180" alt="Handwritten arrow">
    <div class="font-handwritten ask-anything-text pull-right pt-3 pl-1">Freifunk Cuxhaven =D</div>
    
</div>

<div id="this-is-the-navi" class="pr-3">
    <div class="font-handwritten ask-anything-text">Navi</div>
    <img src="{{'assets/images/handwritten-arrow-3.svg'|theme}}" class="handwritten-arrow pl-4" alt="Handwritten arrow">
</div>