[viewBag]

[staticMenu main]
code = "main"
==
<!-- Nav -->
<nav class="navbar navbar-fixed-top navbar-dark bg-danger" id="main-navbar">
    <button class="navbar-toggler toggle-sidebar hidden-md-up" type="button">
        &#9776;
    </button>
    <div class="container">
        <a href="/" class="navbar-brand hidden-sm-down">jumplink-october-boilerplate</a>
        {% partial 'navigation/navbar-items' items=main.menuItems class='nav navbar-nav pull-xs-right hidden-sm-down' itemClass='nav-item' %}
        <form class="form-inline pull-xs-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- http://dcdeiv.github.io/simpler-sidebar/ -->
<div id="sidebar">
    <div id="sidebar-wrapper" class="sidebar-wrapper bg-danger">
        {% partial 'navigation/sidebar-items' items=main.menuItems class='list-group' itemClass='list-group-item' %}
    </div>
</div>

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/navbar.js' |theme }}"></script>
{% endput %}