[viewBag]

[staticMenu main]
code = "main"
==
<!-- Nav -->

<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-white border-b border-px-1 border-color-gray-lighter" id="main-navbar">

  <button class="navbar-toggler navbar-toggler-right sidebar-toggler tcon tcon-menu--xcross hidden-print" type="button" data-toggle="sidebar" data-target="#right-sidebar" aria-controls="right-sidebar" aria-expanded="false" aria-label="Toggle Sidebar">
    <span class="tcon-menu__lines" aria-hidden="true"></span>
    <span class="tcon-visuallyhidden">toggle menu</span>
  </button>
  
  <div class="container">

    <a class="navbar-brand" href="/">
        {% partial 'iconset' name='logo'%}
    </a>
    
    <div class="w-100 hidden-print">
        {% partial 'navigation/navbar-items' items=main.menuItems class='hidden-md-down navbar-nav d-flex justify-content-center' itemClass='nav-item' %}
    </div>
    
    <span class="navbar-text no-break gradien-text hidden-md-down">
        Cuxhaven-Schmuck bestellen
    </span>
    
  </div>
  
</nav>

<!-- http://dcdeiv.github.io/simpler-sidebar/ -->
{% partial 'right-sidebar' %}