[viewBag]

[staticMenu rightSidebar]
code = "right-sidebar"
==
<!-- http://dcdeiv.github.io/simpler-sidebar/ -->
<div id="right-sidebar" class="right-sidebar hidden-print">
    <div id="sidebar-wrapper" class="sidebar-wrapper">
        <a class="logo center-block py-3 hidden-xs-down" href="/">
            {% partial 'iconset' name='icon_question'%}
        </a>
    
        {% partial 'navigation/sidebar-items' items=rightSidebar.menuItems class='text-xs-center text-md-left sidebar-list-group list-group' itemClass='list-group-item list-group-item-action close-sidebar' %}
            
    </div>
</div>