[viewBag]
==
{% set category = __SELF__.category %}
{% set product_list = __SELF__.products %}

{% if (category) %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Viewing products of {{ category.name }}</h3>
            <div class="row">
                {% if (category.description) != '' %}
                <div class="col-xs-{% if not (category.cover) %}12{% else %}8{% endif %}">
                    {{ category.description|raw }}
                </div>
                {% endif %}
                {% if (category.cover != '') %}
                <div class="col-xs-{% if not (category.description) %}12{% else %}4{% endif %}">
                    <img src="{{ category.cover.thumb(300, 300) }}" title="{{ category.cover.title }}" alt="{{ category.cover.description }}">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    {% endif %}

    {% if not product_list|length %}
        <p class="alert alert-info">{{ __SELF__.noProductsMessage }}</p>
    {% else %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {% for product in product_list %}
                    {% partial 'jumplink-product' product=product bg_color='bg-white' %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if product_list %}
        {% partial __SELF__ ~ "::pagination" %}
    {% endif %}
{% endif %}