[viewBag]
==
{% for event_item in events %}
	<div class="smallcal-custom">
		<div class="calwrap">
			<div class="img">
				<div class="month">
					{{ event_item.event_date|date("M") }}
				</div>
				<div class="day">
					{{ event_item.event_date|date("d") }}
				</div>
			</div>
		</div>
		<div class="infowrap">
			<div class="titlehead">
				<div class="title">
					<a href="{{ eventpage|page({'event_slug': event_item.title|replace({' ':'-'})|lower,'event_id': event_item.id }) }}/" rel="pe_tooltip">{{ event_item.title }}</a> {% if event_item.status != '' %}<small class="event_{{event_item.status}}">- {{event_item.status |_}}</small>{% endif %}
				</div>
			   	<div class="local">

				</div>
				<div class="time">
					{% if event_item.grouped > 0 %}
						{{ __SELF__.getItemDates(event_item.grouped_id,event_item.event_id)|raw }}
					{% else %}
						{{ event_item.event_date|date(PE_DATE_SPOKEN) }}
						|
						{% if event_item.allday > 0 %}
							{{'All Day'|_}}
						{% else %}
							{{ event_item.sttime|date(PE_DATE_TIME) }}  - {{ event_item.entime|date(PE_DATE_TIME) }} Uhr
						{% endif %}
					{% endif %}
				</div>
			</div>
			<div class="description">
				{{ event_item.excerpt|raw }}
			</div>
			<div class="eventfoot">

			</div>
		</div>
	</div>
{% endfor %}
{% if pagination > 0 %}
	{{events.render|raw}}
{% endif %}