.fab-map {
    position: fixed;
    bottom: 18px;
    right: 85px;
    z-index: 990;
    border-radius: 50%;
    background: rgb(229, 229, 229);
    box-sizing: content-box;
}

.fab {
    background: rgb(189, 12, 112);
    height: 52px;
    width: 52px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(101, 119, 134, 0.75) 1px 1px 4px;
}

#intergramRoot > div {
    z-index: 990 !important;
}