.btn-outline-secondary {
    &:hover {
        color: $gray-dark;
    }
}

.btn-outline-success {
    color: $btn-success-border;
    border-color: $btn-success-border;
}

.btn {
    font-size: .9rem;
}