// Allgemein
#barba-wrapper {

}

// Produkt Übersicht
.product-grid-item {
    .bg-as-border-2-px {
        background: transparent;
        padding: 2px;
    }
    
    .product-info {
        opacity: 0;
    }

    &:hover, &:focus, &:active, &.selected {
        .bg-as-border-2-px {
            @extend .gradient-bg;
            padding: 2px;
        }
        
        .product-info {
            opacity: 1;
        }
    }
}

// Startseite
[data-namespace="willkommen"] {
    .price-sku {
        display: none;
    }
    
    .strandkorb-banner {
        background-image: url(../images/strandkorb-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: $white;
        
        .iconset.sonnenschirm svg {
            margin-bottom: -7px;
        }
    }
}

// maintaince work
[data-namespace="maintenancework"] {
    .bg-as-border {
        padding: 1vw;
    }
    .lead {
        font-size: 17vw;
    }
    .subtext {
        font-size: 5vw;
        font-family: 'Overpass', sans-serif;
        color: black;
    }
}

[data-namespace="strandbasar"] {
    .slick-prev, .slick-next {
        svg {
            fill: $brand-warning !important;
        }
    }
    .slick-prev {
        left: -50px;
    }
    .slick-next {
        right: -50px;
    }
}

[data-namespace="strandgut"] {
    .slick-prev, .slick-next {
        svg {
            fill: $brand-danger !important;
        }
    }
    .slick-prev {
        left: -50px;
    }
    .slick-next {
        right: -50px;
    }
}

