// Allgemein
#barba-wrapper {

}

// Produkt Übersicht
.product-grid-item {
    .bg-as-border-2-px {
        background: transparent;
        padding: 2px;
    }
    
    .product-info {
        opacity: 0;
    }

    &:hover, &:focus, &:active, &.selected {
        .bg-as-border-2-px {
            @extend .gradient-bg;
            padding: 2px;
        }
        
        .product-info {
            opacity: 1;
        }
    }
}

// Startseite
body#willkommen {

}

// Maintenance Work
body#maintenancework {
    .logo {
        width: 100px;
        position: fixed;
        top: 2rem;
        left: 2rem;
    }
    
    #ask-anything {
        display: none;
        position: fixed;
        font-size: 1.5rem;
        bottom: 120px;
        right: 190px;
    }
    
    .ask-anything-text {
        float: left;
    }
    
    .handwritten-arrow {
        padding-top: 15px;
        padding-left: 20px;
    }
}