// Allgemein
#barba-wrapper {

}

// Produkt Übersicht
.product-grid-item {
    .bg-as-border-2-px {
        background: transparent;
        padding: 2px;
    }
    
    .product-info {
        opacity: 0;
    }

    &:hover, &:focus, &:active, &.selected {
        .bg-as-border-2-px {
            @extend .gradient-bg;
            padding: 2px;
        }
        
        .product-info {
            opacity: 1;
        }
    }
}

// Startseite
body#willkommen {

}

// Maintenance Work
body#maintenancework {
    .logo {
        width: 150px;
        position: fixed;
        top: 2rem;
        left: 2rem;
    }    
}

#ask-anything {
    display: none;
    position: fixed;
    font-size: 1.2rem;
    bottom: 100px;
    right: 50px;
    .ask-anything-text {
        float: left;
    }
    .handwritten-arrow {
        padding-top: 15px;
        padding-left: 20px;
    }
}

#where-freifunk {
    position: fixed;
    font-size: 1.2rem;
    bottom: 50px;
    right: 160px;
    .handwritten-arrow {
        position: absolute;
        right: 0;
    }
}