

.right-sidebar {
    width: 250px;
    right: -250px;
    .sidebar-wrapper {
        height: 100%;
        overflow: auto;
        padding-top: 100px;
        background-color: $purple;
    }
    
    .list-group {
        .list-group-item {
            border: none;
            background-color: transparent;
            color: $white;
            &.level-1 {

            }
            &.level-2-title {
                //font-weight: bold;
            }
            &.level-2 {
                padding-left: 2rem;
            }
        }
    }
    
    .iconset.arrow_carrot {
        svg {
            height: 24px;
            width: 24px;
        }
    }
}