.right-sidebar {
    width: 250px;
    right: -300px;
    z-index: 999 !important;
}

.sidebar-wrapper {
    height: 100%;
    overflow: auto;
    background-color: #fff;
    
    .list-group .list-group-item {
        border: none;
    }
}

.navbar-toggler {
    z-index: 1031;
}