.w-8 {
    width: 8px;
}
.h-8 {
    height: 8px;
}
.w-16 {
    width: 16px;
}
.h-16 {
    height: 16px;
}
.w-24 {
    width: 24px;
}
.h-24 {
    height: 24px;
}
.w-32 {
    width: 32px;
}
.h-32 {
    height: 32px;
}
.w-40 {
    width: 40px;
}
.h-40 {
    height: 40px;
}
.w-48 {
    width: 48px;
}
.h-48 {
    height: 48px;
}
.w-56 {
    width: 56px;
}
.h-56 {
   height: 56px;
}
.w-64 {
    width: 64px;
}
.h-64 {
    height: 64px;
}
.w-72 {
    width: 72px;
}
.h-72 {
    height: 72px;
}
.w-80 {
    width: 80px;
}
.h-80 {
    height: 80px;
}
.w-88 {
    width: 88px;
}
.h-88 {
    height: 88px;
}
.w-96 {
    width: 96px;
}
.h-96 {
    height: 96px;
}

.h-250 {
    height: 250px;
}

.h-400 {
    height: 400px;
}

.w-400 {
    width: 400px;
}

.h-vh {
    height: 100vh !important;
}

.w-vw {
    width: 100 vw !important;
}