description = "catalog-plugin/product_details"

[viewBag]
==
{% set show_title = true %}
{% set show_price = true %}
{% set show_discount_price = false %}
{% set show_items_available = false %}
{% set show_stores = false %}
{% set show_brand = true %}
{% set show_categories = false %}
{% set show_sku = true %}
{% set show_description = true %}

<div itemscope itemtype=”http://schema.org/Product”>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
        
            {% if product.title and show_title %}
                <h1 itemprop=”name” class="font-handwritten py-5">{{ product.brand.name }} {{ product.title }}</h1>
            {% endif %}
            
            {% if product.description and show_description %}
                <p itemprop=”description”>{{ product.description|raw }}</p>
            {% endif %}
            
            {% if product.sku and show_sku %}
                <p>
                    <a href="https://www.ean-search.org/perl/ean-search.pl?q={{ product.sku }}" target="_blank">EAN <span  itemprop="gtin13">{{ product.sku }}</span></a>
                </p>
            {% endif %}
            
            <div itemprop=”offers” itemscope itemtype=”http://schema.org/Offer”>
                <span itemprop="priceCurrency" content="EUR" />
                {% if product.price and show_price %}
                    <p itemprop=”price” content="{{product.price}}">Preis {{product.price}}€</p>
                {% endif %}
        
                {% if product.discount_price and show_discount_price %}
                    <p>Discount price {{ product.discount_price }}€</p>
                {% endif %}
                
                {% if product.items_available and show_items_available %}
                    <p>Items available {{ product.items_available }}€</p>
                {% endif %}
            </div>
    
            {% if product.brand and show_brand %}
                <hr>
                Brand : <a itemprop="brand" href="{{ product.brand.url }}" title="{{ product.brand.name }}">{{ product.brand.name }}</a>
            {% endif %}
            
            {% if product.stores and show_stores %}
                <hr>
                {% for store in product.stores %}
                    Store : <a href="{{ store.url }}" title="{{ store.name }}">{{ store.name }}</a>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-4">
            <img itemprop=”image” class="img-fluid" src="{{ product.featured_images[0].thumb(3000, 3000) }}" title="{{ product.featured_images[0].title }}" alt="{{ product.featured_images[0].description }}">
        </div>
    </div>
    
    {% if product.categories|length != 0 and show_categories %}
    <div class="row">
        <h4>Related categories</h4>
        <ul>
            {% for category in product.categories %}
                <li>
                    <a itemprop="category" href="{{ category.url }}" title="{{ category.name }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>