[viewBag]
==
<ul class="{{ class }}">
    {% for item in items %}
        <li class="{{ itemClass }} {{ item.viewBag.cssClass }} {{ item.items ? 'dropdown' : '' }} {{ str_studly(item.title) | lower  }}">
            <a class="nav-link {{ item.viewBag.cssClass }}" {% if item.items %}data-toggle="dropdown"{% endif %} href="{{ item.url }}">
                {{ item.title }}
                {% if item.items %}
                    <span class="caret"></span>
                {% endif %}
            </a>
            {% if item.items %}
                {% partial 'menu-items' items=item.items class='dropdown-menu' %}
            {% endif %}
        </li>
    {% endfor %}
</ul>