description = "Info layout without barba.js"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{this.theme.site_name}} - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Pascal Garber">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% partial 'jumplink-intergram' %}
        {% partial 'jumplink-favicons' %}
        <script src="{{ [
            'assets/vendor/jquery/dist/jquery.js',
        ]|theme }}" ></script>
        
        {% styles %}
        <link href="{{ [
            'assets/scss/theme.scss',
        ]|theme }}" rel="stylesheet">
    </head>
    <body id="{{ str_studly(this.page.title) | lower | replace({'/':'_'}) }}">
        <section id="layout-content" data-namespace="{{ str_studly(this.page.title) | lower }}">
            {# Still use the barba wrapper if linked here #}
            <div id="barba-wrapper">
                <div {% partial 'jumplink-barba-container-attributes' %}>
                    {% page %}
                </div>
            </div>
        </section>
        {% partial 'jumplink-fab-buttons' %}
        {% scripts %}
    </body>
</html>