description = "Info layout without barba.js"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{this.theme.site_name}} - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Pascal Garber">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% partial 'jumplink-favicons' %}
        <script> 
            window.intergramId = '{{this.theme.intergram_id}}';
            window.intergramCustomizations = {
                titleClosed: '{{this.theme.intergram_title_closed}}',
                titleOpen: '{{this.theme.intergram_title_open}}',
                introMessage: '{{this.theme.intergram_intro_message}}',
                autoResponse: '{{this.theme.intergram_auto_response}}',
                autoNoResponse: '{{this.theme.intergram_auto_no_response}}',
                mainColor: '{{this.theme.intergram_main_color}}', // Can be any css supported color 'red', 'rgb(255,87,34)', etc
                alwaysUseFloatingButton: ({{this.theme.intergram_always_use_floating_button}} === 1), // Use the mobile floating button also on large screens
            };
        </script>
        <script id="intergram" type="text/javascript" src="{{this.theme.intergram_widget_source}}"></script>
        <script src="{{ [
            'assets/vendor/jquery/dist/jquery.js',
        ]|theme }}" ></script>
        
        {% styles %}
        <link href="{{ [
            'assets/scss/theme.scss',
        ]|theme }}" rel="stylesheet">
    </head>
    <body id="{{ str_studly(this.page.title) | lower | replace({'/':'_'}) }}">
        <section id="layout-content" data-namespace="{{ str_studly(this.page.title) | lower }}">
            {% page %}
        </section>
    </body>
</html>