[viewBag]
==
<div id="location" class="pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center text-warning">Ihr Weg zum Strandbasar</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <div class="row bg-gray-2">
            <div class="col-xs-12 col-md-8 col-lg-8 col-xl-9 pl-0">
                <div class="w-100 h-400" id="map-{{handle}}" data-marker-icon="{{'assets/images/sonnenschirm-lines.svg' | theme}}"></div>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4 col-xl-3 pl-3 d-flex align-items-center">
                <address itemscope itemtype="http://schema.org/LocalBusiness">
                    <b itemprop="name">Strandbasar</b><br>
                    <this itemprop="description">im Strandhaus Döse</this>
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <br>
                        <span itemprop="postalCode">27476</span>
                        <span itemprop="addressLocality">Cuxhaven</span><br>
                        <br>
                        <span>Tel. 04721-46696</span><br>
                        <br>
                        <span>Wir freuen uns<br> auf Ihren Besuch!</span><br>
                         <br>
                    </span>
                    <a href="https://www.google.de/maps/dir//Strandhaus+D%C3%B6se,+Auf+dem+Seedeich,+27476+Cuxhaven/@53.8906281,8.665883,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x47b40474896d9c85:0xff48453794f8c4!2m2!1d8.6679876!2d53.8905565", target="_blank">
                        Anfahrt ermitteln
                    </a>
                </address>
            </div>
        </div>
    </div>
</div>